[submodule "SchemaBuilder"]
	path = SchemaBuilder
	url = https://github.com/ikkez/f3-schema-builder.git
	branch = master
[submodule "Cortex"]
	path = Cortex
	url = https://github.com/ikkez/f3-cortex.git
	branch = master
[submodule "Assets"]
	path = Assets
	url = https://github.com/ikkez/f3-assets.git
[submodule "Opauth"]
	path = Opauth
	url = https://github.com/ikkez/f3-opauth.git
[submodule "Mailer"]
	path = Mailer
	url = https://github.com/ikkez/f3-mailer.git
[submodule "Middleware"]
	path = Middleware
	url = https://github.com/ikkez/f3-middleware.git
[submodule "FAL"]
	path = FAL
	url = https://github.com/ikkez/f3-fal.git
[submodule "Flash"]
	path = Flash
	url = https://github.com/ikkez/f3-flash.git
[submodule "Events"]
	path = Events
	url = https://github.com/ikkez/f3-events.git
[submodule "Pagination"]
	path = Pagination
	url = https://github.com/ikkez/f3-pagination.git
