[submodule "SchemaBuilder"]
	path = SchemaBuilder
	url = https://github.com/ikkez/f3-schema-builder.git
	branch = master
[submodule "Cortex"]
	path = Cortex
	url = https://github.com/ikkez/f3-cortex.git
	branch = master
[submodule "Assets"]
	path = Assets
	url = https://github.com/ikkez/f3-assets.git
[submodule "Opauth"]
	path = Opauth
	url = https://github.com/ikkez/f3-opauth.git
