<a href="test1">simple route</a><br/>
<a route="article-view" param-item="foo2">route with param</a><br/>
<a route="home">simple route</a><br/>
<a route="article-view" param-item="{{@t1}}">vars by token</a><br/>
<a route="{{@rr}}" param-item="{{@t1}}" param-action="edit">multiple params</a><br/>
<a route="article-view" param-item="$blah">inject test</a><br/>
<a route="class">map test</a><br/>
<a route="home" query="foo=bar&baz=narf">query string test</a><br/>
<a route="home" query="{{@querystring}}">query string from string token</a><br/>
<a route="home" query="{{@querystringArray}}">query string from array token</a><br/>
<a route="home" absolute="true">absolute path</a><br/>
<a route="home" absolute="full">full absolute path with host and base</a><br/>
<a route="home" addQueryString="true">add existing query string to link</a><br/>
<a route="home" section="anchor-1">link with anchor section</a><br/>
<a route="home" section="{{@section}}">link anchor from token</a><br/>