<html>
<head>
    <title>F3 FooForms</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="ui/css/prism.css">
    <style>
        body {
            font-family: Verdana;
            font-size: 12px;
            max-width: 600px;
            margin: 0 auto;
            padding-top: 30px;
            padding-bottom: 50px;
        }
        input.error {
            box-shadow: 0 0 1px 2px rgba(255,0,0,0.4);
        }
        div.error {
            padding: 5px;
            width: 250px;
            margin-bottom: 20px;
            border: 1px solid red;
        }
        div.info {
            padding: 5px;
            width: 250px;
            margin-bottom: 20px;
            border: 1px solid limegreen;
        }
        .form-group {
            margin-bottom: 10px;
            border-radius: 4px;
            background-color: #eeeeee;
            padding: 10px;
        }
        .form-group > label,
        .form-group > p {
            font-weight: bold;
        }
        .nice {
            border: 1px solid lightgreen;
        }
        input, select, textarea {
            padding: 3px;
            margin-bottom: 10px;
        }
        p {
            margin-top: 0;
        }
        .panel .btn {
            margin-left: 14px;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <div class="well">
        <h1>Fat-Free FooForms</h1>
        <p>This is a little plugin that offers additional form-related HTML tag handlers for easy creating and working with form elements.</p>
        <p>Basically it handles the posted values of the different form elements and decides whether to check / select the element or not - all without the need to write additional inline conditions - FooForms will do that for you.</p>
        <p>This is useful for quick and easy form integration, especially for bigger user registration or application forms. So you don't have to bother with putting all values back into the form elements, when loading an existing or submitted, but not valid, form.</p>
        <p>To enable all the tag handlers just call:</p>
        <pre><code class="language-php">\Template\FooForms::init();</code></pre>
        <a href="https://github.com/ikkez/F3-Sugar">download FooForms from github</a>
    </div>
        <F3:check if="{{ @VERB == 'POST' }}">
        <div class="info">The form was send</div>
    </F3:check>
    <form name="contact" action="fooforms" method="post">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Inputs</h3>
            </div>
            <div class="panel-body">
                <p>Inputs are automatically filled with the submitted value upon post</p>

                <div class="form-group">
                    <label>simple input field</label>
                    <input type="text" name="input1" class="form-control" placeholder="Tell me something" />
                    markup:
                    <pre><code class="language-php">&lt;input type="text" name="input1" /&gt;</code></pre>
                    rendered with FooForms:
                    <pre><code class="language-php">&lt;input type="text" name="input1" value="&lt;?php echo isset($POST['input1'])?$POST['input1']:''; ?&gt;" /&gt;</code></pre>
                </div>

                <div class="form-group">
                    <label>input field with value attribute overwrite</label>
                    <input type="text" name="input2" value="{{isset(@POST.input2)?@POST.input2:'abc123'}}" class="form-control" />
                    markup:
                    <F3:ignore><pre><code class="language-php">&lt;input type="text" name="input2" value="{{isset(@POST.input2)?@POST.input2:'abc123'}}" /&gt;</code></pre></F3:ignore>
                    rendered with FooForms:
                    <F3:ignore><pre><code class="language-php">&lt;input type="text" name="input2" value="&lt;?php echo isset($POST['input2'])?$POST['input2']:'abc123'; ?&gt;" /&gt;</code></pre></F3:ignore>
                </div>

                <div class="form-group">
                    <label>input field with dynamic passive attribute</label>
                    <F3:set nice="nice" />
                    <input type="text" name="input3" class="form-control {{ @nice }}"  />
                    markup:
                    <F3:ignore><pre><code class="language-php">&lt;input type="text" name="input3" class="form-control {{ @nice }}" /&gt;</code></pre></F3:ignore>
                    rendered with FooForms:
                    <F3:ignore><pre><code class="language-php">&lt;input type="text" name="input3" class="form-control &lt;?php echo $nice; ?&gt;" value="&lt;?php echo isset($POST['input3'])?$POST['input3']:''; ?&gt;" /&gt;</code></pre></F3:ignore>
                </div>

                <div class="form-group">
                    <label>input field with dynamic active attribute</label>
                    <F3:set name="input4" />
                    <input type="text" name="{{ @name }}" class="form-control" />
                    markup:
                    <F3:ignore><pre><code class="language-php">&lt;input type="text" name="{{ @name }}" /&gt;</code></pre></F3:ignore>
                    rendered with FooForms:
                    <F3:ignore><pre><code class="language-php">&lt;input type="text" name="&lt;?php echo $name; ?&gt;" value="&lt;?php echo isset($POST[$name])?$POST[$name]:''; ?&gt;" /&gt;</code></pre></F3:ignore>
                </div>


            </div>
            <input type="submit" value="submit" class="btn btn-primary" />

        </div>


        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Checkboxes</h3>
            </div>
            <div class="panel-body">

                <div class="form-group">
                    <p>a simple checkbox</p>
                    <div class="checkbox">
                        <label><input type="checkbox" name="check1" /> i am checkable</label>
                    </div>
                    markup:
                    <F3:ignore><pre><code class="language-php">&lt;input type="checkbox" name="check1" /&gt;</code></pre></F3:ignore>
                    rendered with FooForms:
                    <F3:ignore><pre><code class="language-php">&lt;input type="checkbox" name="check1" &lt;?php echo (isset($POST['check1']) && $POST['check1']=='on')?'checked="checked"':''; ?&gt; /&gt;</code></pre></F3:ignore>
                </div>

                <div class="form-group">
                    <p>a list of checkboxes created by an array</p>
                    <F3:repeat group="{{ @colors }}" value="{{ @color }}">
                    <div class="checkbox">
                        <label><input type="checkbox" name="days-{{ @color }}"/> {{ @color }}</label>
                    </div>
                    </F3:repeat>
                    markup:
                    <F3:ignore><pre>
<code class="language-php">&lt;F3:repeat group="{{ @colors }}" value="{{ @color }}"&gt;
    &lt;label&gt;&lt;input type="checkbox" name="days-{{ @color }}"/&gt; {{ @color }}&lt;/label&gt;
&lt;/F3:repeat&gt;</code></pre></F3:ignore>
                    rendered with FooForms:
                    <F3:ignore><pre>
<code class="language-php">&lt;?php foreach (($colors?:array()) as $color): ?&gt;
&lt;div class=&quot;checkbox&quot;&gt;
    &lt;label&gt;&lt;input type=&quot;checkbox&quot; name=&quot;days-&lt;?php echo $color; ?&gt;&quot; &lt;?php echo (isset($POST['days-'.$color]) &amp;&amp; $POST['days-'.$color]=='on') || (isset($POST['days-'.$color]) &amp;&amp; is_array($POST['days-'.$color]) &amp;&amp; in_array('on',$POST['days-'.$color]))?'checked=&quot;checked&quot;':''; ?&gt; /&gt; &lt;?php echo $color; ?&gt;&lt;/label&gt;
&lt;/div&gt;
&lt;?php endforeach; ?&gt;</code></pre></F3:ignore>
                    
                </div>

                <div class="form-group">
                    <p>a list of checkboxes with array name</p>
                    <F3:repeat group="{{ @days }}" key="{{@key}}" value="{{ @day }}">
                    <div class="checkbox">
                        <label><input type="checkbox" name="days[]" value="{{ @key }}"/> {{ @day }}</label>
                    </div>
                    </F3:repeat>
                    markup:
                    <F3:ignore><pre>
<code class="language-php">&lt;F3:repeat group="{{ @days }}" key="@key" value="{{ @day }}"&gt;
    &lt;label&gt;&lt;input type="checkbox" name="days[]" value="{{ @key }}"/&gt; {{ @day }}&lt;/label&gt;
&lt;/F3:repeat&gt;</code></pre></F3:ignore>
                    rendered with FooForms:
                    <F3:ignore><pre>
<code class="language-php">&lt;?php foreach (($days?:array()) as $key=&gt;$day): ?&gt;
    &lt;label&gt;&lt;input type="checkbox" name="days[]" value="&lt;?php echo $key; ?&gt;" &lt;?php echo (isset($POST['days']) && is_array($POST['days']) && in_array($key,$POST['days']))?'checked="checked"':''; ?&gt; /&gt; &lt;?php echo $day; ?&gt;&lt;/label&gt;
&lt;?php endforeach; ?&gt;</code></pre></F3:ignore>
                </div>

            </div>
            <input type="submit" value="submit" class="btn btn-primary" />

        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Radios</h3>
            </div>
            <div class="panel-body">

                <div class="form-group">
                    <p>a list of radio buttons created by an array</p>
                    <F3:repeat group="{{ @days }}" key="@key" value="{{ @day }}">
                    <div class="radio">
                        <label><input type="radio" name="radiodays" value="{{ @key }}"/> {{ @day }}</label>
                    </div>
                    </F3:repeat>
                    markup:
                    <F3:ignore><pre>
<code class="language-php">&lt;F3:repeat group="{{ @days }}" key="@key" value="{{ @day }}"&gt;
    &lt;label&gt;&lt;input type="radio" name="radiodays" value="{{ @key }}"/&gt; {{ @day }}&lt;/label&gt;
&lt;/F3:repeat></code></pre></F3:ignore>
                    rendered with FooForms:
                    <F3:ignore><pre>
<code class="language-php">&lt;?php foreach (($days?:array()) as $key=&gt;$day): ?&gt;
    &lt;label&gt;&lt;input type="radio" name="radiodays" value="&lt;?php echo $key; ?&gt;" &lt;?php echo isset($POST['radiodays']) && $POST['radiodays']==$key?'checked="checked"':''; ?&gt; /&gt; &lt;?php echo $day; ?&gt;&lt;/label&gt;
&lt;?php endforeach; ?&gt;</code></pre></F3:ignore>
                </div>

                <div class="form-group">
                    <p>a list of radio buttons with complex array key</p>
                    <F3:repeat group="{{ @days }}" key="@key" value="{{ @day }}">
                        <div class="radio">
                            <label><input type="radio" name="radiodays4[key][]" value="{{ @key }}"/> {{ @day }}</label>
                        </div>
                    </F3:repeat>
                    markup:
                    <F3:ignore><pre>
<code class="language-php">&lt;F3:repeat group=&quot;{{ @days }}&quot; key=&quot;@key&quot; value=&quot;{{ @day }}&quot;&gt;
    &lt;div class=&quot;radio&quot;&gt;
        &lt;label&gt;&lt;input type=&quot;radio&quot; name=&quot;radiodays4[key][]&quot; value=&quot;{{ @key }}&quot;/&gt; {{ @day }}&lt;/label&gt;
    &lt;/div&gt;
&lt;/F3:repeat&gt;</code></pre></F3:ignore>
                    rendered:
                    <F3:ignore><pre>
<code class="language-php">&lt;?php foreach (($days?:array()) as $key=&gt;$day): ?&gt;
&lt;div class=&quot;radio&quot;&gt;
    &lt;label&gt;&lt;input type=&quot;radio&quot; name=&quot;radiodays4[key][]&quot; value=&quot;&lt;?php echo $key; ?&gt;&quot; &lt;?php echo (isset($POST['radiodays4']['key']) &amp;&amp; is_array($POST['radiodays4']['key']) &amp;&amp; in_array($key,$POST['radiodays4']['key']))?'checked=&quot;checked&quot;':''; ?&gt; /&gt; &lt;?php echo $day; ?&gt;&lt;/label&gt;
&lt;/div&gt;
&lt;?php endforeach; ?&gt;</code></pre></F3:ignore>
                </div>

            </div>
            <input type="submit" value="submit" class="btn btn-primary" />

        </div>



        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Selects</h3>
            </div>
            <div class="panel-body">

                <p>Select field and their options can be created and automatically checked using a single given array</p>

                <div class="form-group">
                    <label>Select field build-by "group" attribute</label>
                    <select class="form-control" name="fruits" group="{{ @fruits }}"></select>
                    markup:
                    <F3:ignore><pre>
<code class="language-php">&lt;select class="form-control" name="fruits" group="{{ @fruits }}"&gt;&lt;/select&gt;</code></pre></F3:ignore>
                    rendered with FooForms:
                    <F3:ignore><pre>
<code class="language-php">&lt;select class="form-control" name="fruits"&gt;
&lt;?php foreach($fruits as $key =&gt; $val) {?&gt;
    &lt;option value="&lt;?php echo $key; ?&gt;"&lt;?php echo (isset($POST['fruits']) && $POST['fruits']==$key)?' selected="selected"':''; ?&gt;&gt;&lt;?php echo $val; ?&gt;&lt;/option&gt;
&lt;?php } ?&gt;
&lt;/select&gt;</code></pre></F3:ignore>
                </div>

                <div class="form-group">
                    <label>Select field with additional option elements</label>
                    <select class="form-control" name="colors" group="{{ @colors }}" style="{{isset(@POST.colors)?'border:1px solid '.@POST.colors:'border:1px solid grey'}}">
                        <option value="">please select your color</option>
                    </select>
                    markup:
                    <F3:ignore><pre>
<code class="language-php">&lt;select class="form-control" name="colors" group="{{ @colors }}" style="{{isset(@POST.colors)?'border:1px solid '.@POST.colors:'border:1px solid grey'}}"&gt;
    &lt;option value=""&gt;please select your color&lt;/option&gt;
&lt;/select&gt;</code></pre></F3:ignore>
                    rendered with FooForms:
                    <F3:ignore><pre>
<code class="language-php">&lt;select class="form-control" name="colors" style="&lt;?php echo isset($POST['colors'])?'border:1px solid '.$POST['colors']:'border:1px solid grey'; ?&gt;"&gt;
    &lt;option value=""&gt;please select your color&lt;/option&gt;
    &lt;?php foreach($colors as $key =&gt; $val) {?&gt;
        &lt;option value="&lt;?php echo $key; ?&gt;"&lt;?php echo (isset($POST['colors']) && $POST['colors']==$key)?' selected="selected"':''; ?&gt;&gt;
            &lt;?php echo $val; ?&gt;
        &lt;/option&gt;
    &lt;?php } ?&gt;
&lt;/select&gt;</code></pre></F3:ignore>
                </div>

                <div class="form-group">
                    <label>Select field with dynamic passive attribute</label>
                    <F3:set nice="nice" />
                    <select class="form-control {{ @nice }}" name="select3" group="{{ @fruits }}"></select>
                    markup:
                    <F3:ignore><pre>
<code class="language-php">&lt;select class="form-control {{ @nice }}" name="select3" group="{{ @fruits }}"&gt;&lt;/select&gt;</code></pre></F3:ignore>
                    rendered with FooForms:
                    <F3:ignore><pre>
<code class="language-php">&lt;select class="form-control &lt;?php echo $nice; ?&gt;" name="select3"&gt;&lt;?php foreach($fruits as $key =&gt; $val) {?&gt;&lt;option value="&lt;?php echo $key; ?&gt;"&lt;?php echo (isset($POST['select3']) && $POST['select3']==$key)?' selected="selected"':''; ?&gt;&gt;&lt;?php echo $val; ?&gt;&lt;/option&gt;&lt;?php } ?&gt;&lt;/select&gt;</code></pre></F3:ignore>
                </div>

                <div class="form-group">
                    <label>Select field with dynamic active attribute</label>
                    <F3:set select4="fruits4" />
                    <select class="form-control" name="{{ @select4 }}" group="{{ @fruits }}"></select>
                    markup:
                    <F3:ignore><pre>
<code class="language-php">&lt;select class="form-control" name="{{ @select4 }}" group="{{ @fruits }}"&gt;&lt;/select&gt;</code></pre></F3:ignore>
                    rendered with FooForms:
                    <F3:ignore><pre>
<code class="language-php">&lt;select class="form-control" name="&lt;?php echo $select4; ?&gt;"&gt;&lt;?php foreach($fruits as $key =&gt; $val) {?&gt;&lt;option value="&lt;?php echo $key; ?&gt;"&lt;?php echo (isset($POST[$select4]) && $POST[$select4]==$key)?' selected="selected"':''; ?&gt;&gt;&lt;?php echo $val; ?&gt;&lt;/option&gt;&lt;?php } ?&gt;&lt;/select&gt;</code></pre></F3:ignore>
                </div>

            </div>
            <input type="submit" value="submit" class="btn btn-primary" />
        </div>
    </form>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="ui/js/prism.js"></script>
    </body>
</html>